#outer1
{
    height:100%;
	width:100%;
	border:1px solid auto ;
	background-image:url('image/bg.jpg');	
}


#menu
{
	height:60px;
	width:100%;
	float:left;
	background-color:auto;
	margin-left:0px;
}

#menu ul
{
list-style-type:none;

}
#menu ul li
{
border-radius:20px 50px 30px 50px;
display:inline-block;
padding:10px;
width:110px;
background-color:#007F66;
text-align:center;
}
#menu ul li a
{
text-decoration:none;
color:white;
}
#menu li:hover{
background-color:gray;
border-radius:50px 0px 50px 0px;
}




#outer2
{
	height:160px;
	width:450px;
	border:1px solid auto;
	background-color:gray;
	font-size:55px;
	border-radius:50%;	
}
#outer3
{
	height:370px;
	width:450px;
	border:1px solid auto;
	background-color:gray;
}
#main
{
	height:370px;
	width:450px;
	border:1px solid auto;
	float:left;
}

